.comments {
  background: white;
  width: 100%;
}

.comment {
  padding: 5px 10px;
  background: #eeeeee;
  color: #333333;
  margin: 2.5px 0;
  border-radius: 3px;
}

.user {
  font-weight: 700;
}

.icon {
  float: right;
}