.comments {
  background: white;
  width: 100%;
}

.comment {
  padding: 5px 10px;
  background: #eeeeee;
  color: #333333;
  margin: 2.5px 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.comment-message {
  align-self: flex-start;
  flex: 1;
}

.user {
  font-weight: 700;
  margin-right: 5px;
}

.icon {
  align-self: flex-end;
  margin-left: 5px;
  cursor: pointer;
}

.input-box {
  border: none;
  padding: 5px;
  flex: 1;
  border-radius: 3px;
}